@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* styles/globals.css またはコンポーネント内のスタイル */

.bubble-up {
  position: absolute;
  bottom: -50px;
  background-color: transparent;
  border-radius: 50%;
  pointer-events: none;
  box-shadow: inset 0 0 10px rgba(144, 140, 140, 0.301);
  animation: bubble-up 8s linear infinite;
}

.bubble-up::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  transform: scale(0.25) translate(-70%, -70%);
  background: radial-gradient(rgba(255, 255, 255, 0.5), transparent);
  border-radius: 50%;
}

@keyframes bubble-up {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    transform: translateY(-100vh);
    opacity: 0;
  }
}

.bubble-down {
  position: absolute;
  top: -50px; /* 上から出てくるので top を使用 */
  background-color: transparent;
  border-radius: 50%;
  pointer-events: none;
  box-shadow: inset 0 0 10px rgba(144, 140, 140, 0.301);
  animation: bubble-down 8s linear infinite;
}

.bubble-down::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  transform: scale(0.25) translate(-70%, -70%);
  background: radial-gradient(rgba(255, 255, 255, 0.5), transparent);
  border-radius: 50%;
}

@keyframes bubble-down {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    transform: translateY(100vh); /* 下方向に移動 */
    opacity: 0;
  }
}

